@charset "UTF-8";
.efb-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1700;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.5); }
  .efb-modal:not(.show) {
    visibility: hidden; }
  .efb-modal.show {
    display: block; }
    .efb-modal.show .efb-modal-dialog {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
  .efb-modal.fade {
    opacity: 0;
    transition: opacity 150ms ease-in-out; }
    .efb-modal.fade.show {
      opacity: 1; }
  .efb-modal .efb-modal-dialog {
    transition: transform 150ms ease-in-out;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    position: relative;
    width: auto;
    margin: 30px auto; }
  .efb-modal .efb-modal-loader {
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    text-align: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 50%;
    border: 0.5rem solid white;
    border-top-color: transparent;
    animation: efb-loader-spin 2s infinite linear; }

@keyframes efb-loader-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .efb-modal .efb-modal-header {
    padding: 15px 20px;
    padding-right: 20px;
    border-bottom: none;
    display: -ms-flexbox;
    color: white;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e4eaec;
    border-top-left-radius: .286rem;
    border-top-right-radius: .286rem; }
    .efb-modal .efb-modal-header .close {
      -ms-flex-order: 2;
      order: 2;
      margin-top: 1px;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      -webkit-appearance: none;
      float: right;
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      color: white;
      text-shadow: none;
      opacity: 1; }
    .efb-modal .efb-modal-header .efb-modal-title {
      -ms-flex-order: 1;
      word-break: break-all;
      font-weight: 600;
      order: 1;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.57142857; }
  .efb-modal .efb-modal-body {
    padding: 1rem;
    background: white; }
    .efb-modal .efb-modal-body table td {
      vertical-align: top; }
    .efb-modal .efb-modal-body .efb-pro-demo {
      width: 100%;
      height: 310px; }
  .efb-modal .efb-modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: white;
    padding: 10px;
    border-top: 1px solid #e4eaec; }
    .efb-modal .efb-modal-footer > :not(:last-child) {
      margin-right: .25rem; }
    .efb-modal .efb-modal-footer > :not(:first-child) {
      margin-left: .25rem; }
  .efb-modal .btn-success, .efb-modal .bg-success {
    color: #fff;
    background-color: #46be8a;
    border-color: #46be8a; }

@media (min-width: 768px) {
  .efb-modal-dialog {
    width: auto;
    margin: 30px auto; } }

@media (min-width: 480px) {
  .efb-modal-dialog {
    max-width: 600px;
    margin: 30px auto; }
  .efb-modal-content {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); } }

/* Modal css ends */
/* Toater Code Starts Here */
.efb-toaster.toaster-container {
  position: fixed;
  width: 100%;
  top: 1vw;
  left: 0;
  opacity: 0;
  text-align: center;
  transition: top 0.3s linear, opacity 0.3s linear;
  display: none; }
  .efb-toaster.toaster-container.fade {
    top: 6vw;
    opacity: 1 !important; }
  .efb-toaster.toaster-container.show {
    display: block; }
  .efb-toaster.toaster-container .toaster-message {
    padding: 1rem 2rem;
    color: white;
    border-radius: 2px;
    background-color: #424242; }

/* Toaster Code Ends Here */
/* Switch Code Starts Here */
.efb-switch {
  height: 1rem;
  width: 2rem;
  margin: 0 auto 5px auto;
  cursor: pointer;
  display: block; }
  .efb-switch input {
    display: none; }
    .efb-switch input:checked + .switch-container .switch-lever {
      left: 1rem; }
    .efb-switch input:not(:checked) + .switch-container .switch-background {
      background-color: #000000 !important; }
    .efb-switch input:not(:checked) + .switch-container .switch-lever {
      left: 0;
      background-color: white !important; }
  .efb-switch .switch-container {
    height: 100%;
    width: 100%;
    position: relative; }
    .efb-switch .switch-container .switch-background {
      height: 0.8rem;
      width: inherit;
      border-radius: 1rem;
      opacity: 0.5;
      margin: 0.35rem 0;
      transition: background-color 0.2s linear; }
    .efb-switch .switch-container .switch-lever {
      position: absolute;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      top: -0.1rem;
      box-shadow: grey 0px 0px 1px 0px;
      transition: left 0.2s linear, background-color 0.2s linear; }

/* Switch Code Ends Here */
.efb-wrap-list .efb-bottom .efb-list-pagination {
  float: right; }

.efb-wrap-list .efb-top .efb-listing, .efb-wrap-list .efb-top .efb-form-list-info {
  float: left; }

.efb-wrap-list .efb-top .dataTables_filter {
  float: right;
  text-align: right; }

.efb-wrap-list .efb-csv-export {
  pointer-events: none; }

.efb-wrap-list .dataTables_scrollBody {
  border-bottom: 0 !important; }

.efb-wrap-list .dataTables_scrollHead {
  margin-bottom: 0 !important; }

.efb-wrap-list table.dataTable thead td, .efb-wrap-list table.dataTable thead th, .efb-wrap-list table.dataTable tbody td {
  padding: 12px 8px; }

.efb-wrap-list .efb-wrap-list-form-data table.dataTable tbody th {
  font-weight: 600; }

.efb-wrap-list .DTFC_ScrollWrapper .DTFC_LeftBodyWrapper thead, .efb-wrap-list .DTFC_ScrollWrapper .DTFC_RightBodyWrapper thead {
  display: none; }

.efb-wrap-list #efb-bulk-actions {
  display: inline-block; }

.efb-table .icon {
  font-size: 1.3rem; }

.efb-table a .icon {
  color: #76838f; }

.efb-table.dataTable {
  background: white !important;
  border-bottom: 0 !important; }
  .efb-table.dataTable thead tr th:after, .efb-table.dataTable thead tr th:before {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0; }
  .efb-table.dataTable .DTFC_NoData {
    display: none; }

.efb-shortcode-copy-note {
  clear: both; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.form-page .edwiserform-root-container {
  padding: 2em; }

.form-page .edwiserform-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
  .form-page .edwiserform-container.empty {
    box-shadow: none; }

.efb-list-buttons .btn {
  text-transform: uppercase;
  font-weight: 700; }

.efb-list-buttons .efb-form-icon-btn i {
  padding: 0 7%; }

.efb-form-icon-btn.btn {
  position: relative;
  padding-left: 3.5rem;
  overflow: hidden; }

.efb-form-icon-btn.btn i {
  position: absolute;
  top: -1px;
  left: -1px;
  line-height: 2.6rem;
  height: 105%;
  padding: 0 8%;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: rgba(0, 0, 0, 0.2); }

.btn-efb-form-upgrade {
  color: #fff !important;
  background-color: #F86935 !important;
  border-color: #F86935 !important;
  text-decoration: none !important; }
  .btn-efb-form-upgrade:hover, .btn-efb-form-upgrade:focus, .btn-efb-form-upgrade:active {
    color: #fff;
    background-color: #f74100; }

.efb-tbl-col-shortcode,
.efb-tbl-col-title {
  font-weight: bold; }

.efb-tbl-col-shortcode {
  cursor: copy; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  color: #333 !important;
  cursor: hand; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    cursor: default;
    color: #666 !important;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

.page-link {
  -webkit-transition: background .2s ease-out,border-color 0s ease-out,color .2s ease-out;
  -o-transition: background .2s ease-out,border-color 0s ease-out,color .2s ease-out;
  transition: background .2s ease-out,border-color 0s ease-out,color .2s ease-out; }

.page-link {
  line-height: 1.571429;
  position: relative;
  display: block;
  margin-left: -1px;
  padding: .643rem 1.072rem;
  color: #76838f;
  border: 1px solid #e4eaec;
  background-color: transparent; }

.page-item.active .page-link {
  z-index: 3; }

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  border-color: #62a8ea;
  background-color: #62a8ea; }

.edwiserform-container.empty {
  width: 100%;
  text-align: center; }

@media (max-width: 481px) {
  #edwiserform-fullpage + div #edwiserform-background-cover {
    background: white !important; }
  #edwiserform-fullpage + div form.edwiserform-container:not(.empty) {
    margin: 0 auto !important;
    width: 100% !important; } }

@media (min-width: 482px) {
  #edwiserform-fullpage + div form.edwiserform-container:not(.empty) {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7); } }

.edwiser-inline-form .f-row {
  display: block !important; }

.edwiser-inline-form .f-render-column {
  width: 100% !important; }

.edwiserform-container {
  /*
  Mixins
*/ }
  .edwiserform-container .formeo .f-input-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch; }
  .edwiserform-container .formeo select, .edwiserform-container .formeo input, .edwiserform-container .formeo textarea, .edwiserform-container .formeo .f-addon {
    font-size: 100%;
    font-family: inherit;
    /*height: 2.1em; Removed element height
  line-height: 1.5;*/
    color: black;
    margin: 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    padding: 0.3em 0.6em;
    box-sizing: border-box; }
    .edwiserform-container .formeo select:focus, .edwiserform-container .formeo input:focus, .edwiserform-container .formeo textarea:focus, .edwiserform-container .formeo .f-addon:focus {
      border: 1px solid #66afe9;
      outline: none; }
  .edwiserform-container .formeo input[type='checkbox'] {
    opacity: 0;
    width: 0;
    position: absolute;
    display: inline-block;
    height: auto; }
    .edwiserform-container .formeo input[type='checkbox'] ~ .checkable-label {
      cursor: pointer; }
    .edwiserform-container .formeo input[type='checkbox'] + .checkable {
      padding-left: 1.5em;
      position: relative; }
      .edwiserform-container .formeo input[type='checkbox'] + .checkable::before, .edwiserform-container .formeo input[type='checkbox'] + .checkable::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1em;
        line-height: 1em;
        color: transparent;
        font-family: sans;
        text-align: center;
        width: 1em;
        height: 1em;
        border-radius: 2px; }
    .edwiserform-container .formeo input[type='checkbox'] + .checkable::before {
      background: #fff;
      border: 1px solid #666666; }
    .edwiserform-container .formeo input:focus[type='checkbox'] + .checkable::before {
      border: 1px solid #66afe9; }
    .edwiserform-container .formeo input[type='checkbox'] + .checkable::after {
      content: "✔";
      background: none;
      visibility: hidden;
      opacity: 0;
      font-size: 1.15em;
      color: #000; }
    .edwiserform-container .formeo input:checked[type='checkbox'] + .checkable::after {
      color: #666666;
      background: none;
      visibility: visible;
      opacity: 1; }
  .edwiserform-container .formeo input[type='radio'] {
    opacity: 0;
    width: 0;
    position: absolute;
    display: inline-block;
    height: auto; }
    .edwiserform-container .formeo input[type='radio'] ~ .checkable-label {
      cursor: pointer; }
    .edwiserform-container .formeo input[type='radio'] + .checkable {
      padding-left: 1.5em;
      position: relative; }
      .edwiserform-container .formeo input[type='radio'] + .checkable::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        top: 50%;
        transform: translate(50%, -50%);
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%; }
      .edwiserform-container .formeo input[type='radio'] + .checkable::before {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1em;
        line-height: 1em;
        color: transparent;
        font-family: sans;
        text-align: center;
        width: 1em;
        height: 1em;
        border-radius: 50%; }
    .edwiserform-container .formeo input[type='radio'] + .checkable::before {
      background: #fff;
      border: 1px solid #666666; }
    .edwiserform-container .formeo input:focus[type='radio'] + .checkable::before {
      border: 1px solid #66afe9; }
    .edwiserform-container .formeo input:checked[type='radio'] + .checkable::after {
      background-color: black; }
  .edwiserform-container .formeo * {
    box-sizing: inherit; }
  .edwiserform-container .formeo .pill-buttons > button {
    border-radius: 50px; }
  .edwiserform-container .formeo hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #cccccc; }
  .edwiserform-container .formeo .f-field-group {
    flex-wrap: wrap;
    margin-bottom: 1em; }
    .edwiserform-container .formeo .f-field-group label + .badge {
      margin-left: 10px; }
    .edwiserform-container .formeo .f-field-group > label {
      display: inline-block;
      margin-bottom: 4px; }
    .edwiserform-container .formeo .f-field-group button {
      margin-right: 5px; }
  .edwiserform-container .formeo input[type='date'] {
    display: block; }
  .edwiserform-container .formeo textarea {
    height: auto; }
  .edwiserform-container .formeo .f-addon {
    width: auto; }
    .edwiserform-container .formeo .f-addon label {
      margin: 1px 0 0 3px; }
    .edwiserform-container .formeo .f-addon:last-child {
      margin-left: -1px; }
  .edwiserform-container .formeo .f-btn-group {
    display: inline-flex;
    vertical-align: middle; }
    .edwiserform-container .formeo .f-btn-group > button {
      flex: 0 1 auto; }
      .edwiserform-container .formeo .f-btn-group > button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0; }
      .edwiserform-container .formeo .f-btn-group > button:last-child:not(:first-child):not(.dropdown-toggle) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0; }
      .edwiserform-container .formeo .f-btn-group > button:first-child {
        margin-left: 0; }
      .edwiserform-container .formeo .f-btn-group > button:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0; }
    .edwiserform-container .formeo .f-btn-group button + button,
    .edwiserform-container .formeo .f-btn-group button + .f-btn-group,
    .edwiserform-container .formeo .f-btn-group .f-btn-group + button,
    .edwiserform-container .formeo .f-btn-group .f-btn-group + .f-btn-group,
    .edwiserform-container .formeo .f-btn-group .f-btn-group-vertical button + button,
    .edwiserform-container .formeo .f-btn-group .f-btn-group-vertical button + .f-btn-group,
    .edwiserform-container .formeo .f-btn-group .f-btn-group-vertical .f-btn-group + button,
    .edwiserform-container .formeo .f-btn-group .f-btn-group-vertical .f-btn-group + .f-btn-group {
      margin-left: -1px; }
  .edwiserform-container .formeo .f-radio,
  .edwiserform-container .formeo .f-checkbox {
    margin-bottom: 5px; }
  .edwiserform-container .formeo .f-input-group {
    display: inline-flex;
    vertical-align: bottom; }
    .edwiserform-container .formeo .f-input-group input + input,
    .edwiserform-container .formeo .f-input-group input + select,
    .edwiserform-container .formeo .f-input-group select + select {
      margin-left: -1px; }
    .edwiserform-container .formeo .f-input-group select {
      -webkit-appearance: none;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyNCIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDMyIj4KPHBhdGggZmlsbD0iIzQ0NCIgZD0iTTAgMTJsMTEuOTkyIDExLjk5MiAxMS45OTItMTEuOTkyaC0yMy45ODR6Ij48L3BhdGg+Cjwvc3ZnPgo=");
      background-position: right 10px top 2px;
      background-repeat: no-repeat;
      background-size: 16px; }
    .edwiserform-container .formeo .f-input-group .f-addon,
    .edwiserform-container .formeo .f-input-group input,
    .edwiserform-container .formeo .f-input-group select {
      flex: 0 1 auto;
      border-radius: 0; }
      .edwiserform-container .formeo .f-input-group .f-addon:last-child,
      .edwiserform-container .formeo .f-input-group input:last-child,
      .edwiserform-container .formeo .f-input-group select:last-child {
        border-right-width: 1px;
        border-radius: 0 3px 3px 0; }
      .edwiserform-container .formeo .f-input-group .f-addon:first-child,
      .edwiserform-container .formeo .f-input-group input:first-child,
      .edwiserform-container .formeo .f-input-group select:first-child {
        border-radius: 3px 0 0 3px;
        border-left-width: 1px; }
      .edwiserform-container .formeo .f-input-group .f-addon:focus + input,
      .edwiserform-container .formeo .f-input-group .f-addon:focus + select,
      .edwiserform-container .formeo .f-input-group input:focus + input,
      .edwiserform-container .formeo .f-input-group input:focus + select,
      .edwiserform-container .formeo .f-input-group select:focus + input,
      .edwiserform-container .formeo .f-input-group select:focus + select {
        border-left: 1px solid #66afe9; }
  .edwiserform-container .formeo .text-primary {
    color: #325d88; }
  .edwiserform-container .formeo .text-success {
    color: #93c54b; }
  .edwiserform-container .formeo .text-warning {
    color: #f47c3c; }
  .edwiserform-container .formeo .text-error {
    color: #d9534f; }
  .edwiserform-container .formeo::after {
    content: '';
    display: table;
    clear: both; }
  .edwiserform-container .formeo.formeo-editor[dir='rtl'] input[type='checkbox'] + .checkable::before, .edwiserform-container .formeo.formeo-editor[dir='rtl'] input[type='checkbox'] + .checkable::after {
    right: 0;
    left: auto; }
  .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group {
    display: inline-flex;
    vertical-align: middle; }
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group > button {
      flex: 0 1 auto; }
      .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group > button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0; }
      .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group > button:last-child:not(:first-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px; }
      .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group > button:first-child {
        margin-left: 0; }
      .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group > button:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px; }
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group button + button,
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group button + .f-btn-group,
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group .f-btn-group + button,
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group .f-btn-group + .f-btn-group,
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group .f-btn-group-vertical button + button,
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group .f-btn-group-vertical button + .f-btn-group,
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group .f-btn-group-vertical .f-btn-group + button,
    .edwiserform-container .formeo.formeo-editor[dir='rtl'] .f-btn-group .f-btn-group-vertical .f-btn-group + .f-btn-group {
      margin-right: -1px; }
  .edwiserform-container .formeo.formeo-render .f-row {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    display: flex;
    background-color: transparent;
    border-radius: 6px;
    transition: background-color 200ms; }
    .edwiserform-container .formeo.formeo-render .f-row.will-remove {
      background-color: rgba(217, 83, 79, 0.5);
      box-shadow: 0 0 3px 1px #d9534f inset; }
  .edwiserform-container .formeo.formeo-render .f-input-group-wrap::after {
    content: '';
    display: table;
    clear: both; }
  .edwiserform-container .formeo.formeo-render .f-input-group {
    position: relative; }
    .edwiserform-container .formeo.formeo-render .f-input-group:first-child .remove-input-group {
      display: none; }
  .edwiserform-container .formeo.formeo-render .g-recaptcha + .g-recaptcha-error {
    color: red;
    display: none; }
    .edwiserform-container .formeo.formeo-render .g-recaptcha + .g-recaptcha-error.show {
      display: block; }
  .edwiserform-container .formeo.formeo-render .add-input-group {
    float: right;
    margin-top: 10px; }
  .edwiserform-container .formeo.formeo-render .remove-input-group {
    position: absolute;
    left: -32px;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    top: 50%;
    border: 0 none;
    background: transparent;
    outline: 0 none;
    line-height: 0; }
    .edwiserform-container .formeo.formeo-render .remove-input-group:hover .svg-icon {
      fill: #d9534f; }
    .edwiserform-container .formeo.formeo-render .remove-input-group .svg-icon {
      pointer-events: none; }
  .edwiserform-container .formeo.formeo-render .form-check-input:only-child {
    position: absolute; }
  .edwiserform-container .formeo.formeo-render .svg-icon {
    max-width: 100%;
    max-height: 100%; }
  .edwiserform-container .formeo.formeo-render .f-render-column {
    padding: 0 5px;
    float: left;
    display: inline-block;
    max-width: none;
    flex-direction: column;
    flex: auto; }
  @media (max-width: 481px) {
    .edwiserform-container .formeo.formeo-render .f-row {
      display: block !important; }
    .edwiserform-container .formeo.formeo-render .f-render-column {
      width: 100% !important; } }
  .edwiserform-container .formeo.formeo-render .f-row > .f-render-column > .f-field-group.single-line {
    position: relative;
    display: table;
    width: 100%; }
    .edwiserform-container .formeo.formeo-render .f-row > .f-render-column > .f-field-group.single-line > * {
      display: table-cell;
      width: 100%; }
    .edwiserform-container .formeo.formeo-render .f-row > .f-render-column > .f-field-group.single-line > label {
      position: relative;
      width: 25%;
      text-align: right;
      padding: 0 2%;
      vertical-align: top; }
  .edwiserform-container .formeo.formeo-render .f-row > .f-render-column > .f-field-group.off {
    position: relative; }
    .edwiserform-container .formeo.formeo-render .f-row > .f-render-column > .f-field-group.off > label {
      display: none; }
    .edwiserform-container .formeo.formeo-render .f-row > .f-render-column > .f-field-group.off > .text-error {
      position: absolute;
      left: -1em; }
  @media (max-width: 481px) {
    .edwiserform-container .formeo.formeo-render {
      margin-bottom: 1em; } }
  .edwiserform-container .d-none {
    display: none !important; }

.efb-forms-pro-label {
  background-color: #46be8a;
  color: white;
  padding: 4px;
  transform: scale(0.6);
  width: max-content;
  display: inline-block; }

.edwiserform-fullpage .edwiserform-root-container {
  background: white; }

.edwiserform-fullpage .edwiserform-root-container, .edwiserform-fullpage .edwiserform-wrap-container {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }
