
<h1>Biaya Pendidikan</h1>
<hr>

<table class="table table-responsive  table-hover align-middle">
    <tbody>
        <tr class="table-secondary">
            <th width="50px">No</th>
            <th width="150px">Semester</th>
            <th width="300px">Total Bayar</th>
            <th width="100px">Bank</th>
            <th width="100px">Status</th>
        </tr>
        <tr>{{#semester}}
            <th width="50px">{{recordid}}</th>
            <th width="150px">{{content}}</th>{{/semester}}
            {{#biaya}}<th width="300px">{{content}}</th>{{/biaya}}
            {{#bank}}<th width="100px">{{content}}</th>{{/bank}}
            {{#status}}<th width="200px">{{content}}</th>{{/status}}
        </tr>
    </tbody>
</table>

{{!<input type="button" class="btn btn-primary" value="Create Message" onclick="location.href='{{editurl}}{{!'">}}
