<div class='dt-buttons efb-actions'>
    <select class='form-control w-auto efb-action' id="efb-bulk-actions">
        <option value="bulkaction">{{#str}} bulkactions, core {{/str}}</option>
        <option value="delete">{{#str}} delete, core {{/str}}</option>
    </select>
    <button class="btn btn-primary efb-action" id="efb-apply-actions" type="button">{{#str}} apply, local_edwiserform {{/str}}</button>
    <a class="btn btn-primary" href="#">{{#str}} exportcsv, local_edwiserform {{/str}}</a>
    <a class="btn btn-primary" href="#">{{#str}} exportxlsx, local_edwiserform{{/str}}</a>
</div>