 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
<div class="efb-wrap-list efb-wrap-list-forms">
    <input type="hidden" id="upgrade-url" value="{{upgradeurl}}"/>
    <div class='efb-list-buttons text-right'>
        {{#pageactions}}
            <a class='btn btn-primary efb-form-icon-btn' href='{{url}}'>
                <i class="fa fa-{{icon}}" aria-hidden="true"></i>{{label}}
            </a>
        {{/pageactions}}
    </div>
    <hr>
    <h2>{{heading}}</h2>
    <table id="efb-forms" class="efb-table efb-forms-table">
        <thead>
            <tr>
                {{#headings}}
                    <th>{{{.}}}</th>
                {{/headings}}
            </tr>
        </thead>
    </table>
</div>
